.backButton{
  background-color: rgb(237, 234, 234);
  height: 50px;
  width: 180px;
  border: 1px solid gray;
}
.saveButton{
  background-color: rgb(237, 234, 234);
  height: 50px;
  width: 100px;
  border: 1px solid gray;
}